/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2017, 5:15:57 AM
    Author     : You're back!
*/

.image_links
{
   width: 50px;
   height: 50px;
   cursor: pointer;
}

li.navBar
{
    color: white;
    display: inline;
    font: 100 24px Arial;
    padding: 10px;
}

li.navBar:hover
{
    opacity: 0.5 !important;
    cursor: pointer;
}

#page_space-desktop
{
    width: 100%;
    table-layout: fixed;
    padding-top: 100px;
}

#page_space-desktop td
{
    /*border: 5px solid blue;*/
    word-wrap: break-word;
}



#static
{
   vertical-align: top;
   width: 435px;
   margin: 0 auto;
}

#static td
{
    text-align:  center;
}

#static p
{
    color: white;
    font: 500 24px Palatino;
    text-align: center;
    font-style: italic;
    padding: 10px 10px;
}

#static ul
{
    list-style: none;
    text-align: center;
    margin-right: 50px;
}
#static li
{
    display: inline-block;
    padding: 10px 10px;
}

html
{
    background-color: darkred;
}

body
{
    margin: 0;
}

.selectors
{
    background-color: black;
    table-layout: fixed;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-bottom: 10px;
}

.choices
{
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 10px;
    border: transparent;
    outline: 0;
}

.choices:hover
{
    background-color: grey !important;
    cursor: pointer !important;
}

#Content_space
{
   width: 65%;
   height: 500px;
   border: 2px solid black;
   position: absolute;
   overflow: scroll;
   margin-bottom: 0;
   margin-top: 0;
   margin-right: 0;
   margin-left: auto;
   background-color: lightgray;
}

#Content_space td
{
    vertical-align: top;
}

/*Modal Content Begins Now*/

/* The Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(20,20,20,0.5);
    overflow: auto;
    
}

/* Modal Content/Box */
.modal_content 
{
    background-color: white;
    border: 5px solid grey;
    margin-top: 12%;
    margin-left: 25%;
    width: 50%;
    border-radius: 2%;
    overflow-x: scroll;
    /*border: 2px solid black;*/
   
}

/*Room for text*/
#summary
{
    table-layout: fixed;
    width: 95%;
    word-wrap: break-word;
    padding: 10px 10px;
    font: 400 16px Times New Roman;
    font-style: italic;
}

/*Room for images*/
#images_space
{
    width: 100%;
    /*border: 5px solid blue;*/
}

#images_space td
{
    text-align: center;
    /*border: 2px solid black;*/
}

/* The Close Button */
.close 
{
    color: grey;
    position: fixed;
    margin-left: 47%;
    font-size: 36px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#mobile_content
{
    visibility: hidden;
}

/*Modal Content Ends*/


@media only screen
and (max-device-width : 800px)
{
    #desktop_content
    {
        display: none;
    }
    
    #static
    {
        width: 100%;
        margin-top : 20%;
    }
    
    #mobile_content
    {
        visibility: visible;
        width: 100%;
        text-align: center;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    #Content_space_mobile
    {
        width : 90%;
        margin-left: 5%;
        overflow: scroll;
        background: gray;
        height: 450px;
        margin-bottom: 10%;
        background-color: lightgray;
    }
    
.modal_content 
{
    
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
   
}

.close 
{
    margin-left: 70%
}
    
}