/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2017, 5:15:57 AM
    Author     : You're back!
*/


.image_links
{
   width: 50px;
   height: 50px;
   cursor: pointer;
}

li.navBar
{
    color: white;
    display: inline;
    font: 100 24px Arial;
    padding: 10px;
}

li.navBar:hover
{
    opacity: 0.5 !important;
    cursor: pointer;
}

#page_space
{
    width: 100%;
    table-layout: fixed;
    margin: 0;
}

#page_space td
{
    /*border: 5px solid blue;*/
    word-wrap: break-word;
}



#static
{
   vertical-align: top;
   width: 435px;
   margin: 0 auto;
}

#static td
{
    text-align:  center;
}

#static p
{
    color: white;
    font: 500 24px Palatino;
    text-align: center;
    font-style: italic;
    padding: 10px 10px;
}

#static ul
{
    list-style: none;
    text-align: center;
    margin-right: 50px;
}
#static li
{
    display: inline-block;
    padding: 10px 10px;
}

html
{
    background-color: darkred;
}

body
{
    margin: 0;
}

.selectors
{
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}

.choices
{
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 10px;
    border: transparent;
    outline: 0;
}

.choices:hover
{
    background-color: grey !important;
    cursor: pointer !important;
}

#Content_space
{
   width: 900px;
   height: 590px;
   border: 2px solid black;
   table-layout: fixed;
   margin-bottom: 0;
   margin-top: 0;
   margin-right: 0;
   margin-left: auto;
   background-color: lightgray;
}

#Content_space td
{
    vertical-align: top;
   
}

/*Modal Content Begins Now*/

/* The Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(20,20,20,0.5);
    overflow: auto;
    
}

/* Modal Content/Box */
.modal_content 
{
    background-color: white;
    border: 5px solid grey;
    margin-top: 12%;
    margin-left: 25%;
    width: 50%;
    border-radius: 2%;
    /*border: 2px solid black;*/
   
}

/*Room for text*/
#summary
{
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    padding: 10px 10px;
    font: 400 16px Times New Roman;
    font-style: italic;
}

/*Room for images*/
#images_space
{
    width: 100%;
    table-layout: fixed;
    /*border: 5px solid blue;*/
}

#images_space td
{
    text-align: center;
    /*border: 2px solid black;*/
}

/* The Close Button */
.close 
{
    color: grey;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Modal Content Ends*/