/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2017, 8:17:07 AM
    Author     : You're back!
*/

body
{
    margin: 0;
}


#container
{
   width: 100%;
   table-layout: fixed;
}


.project_square
{   
    border: 5px solid darkgrey;
    background-color: white;
    table-layout: fixed;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*@media only screen
and (max-device-width : 800px)
{
    
}*/

.project_square td
{
    word-wrap: break-word;
}

.preview_button
{
    background-color: orange;
    color: white;
    border-radius: 25%;
    cursor: pointer;
    display: none;
}

.project_title
{
    border-bottom: 3px solid gray;
    font-weight: 900;
}


.project_square ul
{
    padding-left: 20px;
    padding-top: 5px;
    margin: 0;
    border-bottom: 3px solid gray;
}


li.Java
{
    color: orange;
}

li.C
{
    color: darkgreen;
}

li.Cpp
{
    color: red;
}

li.Web
{
    color: blue;
}

li span
{
    margin: 0;
    color: black !important;
}

p.description
{
    color: black;
    font-family: serif;
    text-align: center;
    font-style: italic;
    padding: 10px 10px;
}

.project_image
{
    width: 100%;
    height: 100px;
    background-size: 100% 100px;
    background-repeat: no-repeat;
    vertical-align: middle !important;
}

.project_image:hover
{
    background: grey !important;
}

.project_image:hover button
{
    display: block;
}